body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #337ab7;
}

section {
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productos div {
    width: 20%;
    margin: 20px;
}

.productos img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.productos p {
    text-align: center;
    font-weight: bold;
}